# Dependencies
node_modules
.pnp
.pnp.js
.pnpm-store

# Local env files
.env
.env.*
.env.local
.env.development.local
.env.test
.env.test.local
.env.production.local
!.env.example

# Testing
coverage
*.lcov

# Turbo
.turbo

# Vercel
.vercel

# Build outputs
.next/
out/
build
dist
*.tsbuildinfo

# Expo / React Native
.expo
.expo-shared
.metro-health-check*
*.jsbundle
*.hprof

# iOS
ios/Pods
ios/build
ios/.xcode.env.local
*.xcuserstate

# Android
android/build
android/app/build
android/.gradle
*.apk
*.aab
*.ap_
local.properties
*.iml

# Debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
Thumbs.db
*.pem

# IDEs
.vscode
.idea

# Kiro
.kiro

# Logs
*.log
**/logs