# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# env files (keep .env.example so others know what to set)
.env*.local
.env*
!.env.example

# typescript
*.tsbuildinfo

app-example

# idea
.idea/

# coverage
coverage/

# config
app.json
